name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4
        with:
          node-version: 14.x

      # Install yarn dependecies
      - name: Install dependencies
        run: yarn
      
      # Run build
      - name: Run build
        run: yarn build
        
      # Copy dist to server
      - name: copy dist to Digital Ocean server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "~/app/headshare_server"
      
      # Substitute current code in Digital Server server for the new one
      # Install yarn dependencies in server
      # Run migrations
      # Restart nodejs server
